@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap;text=X');

* {
  font-family: "Segoe UI";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  display:flex;
  flex-direction: column;
  align-items: center;
  background: tomato;
  width:100%;
  min-width: 600px;
  max-width: 720px;
  padding: 1rem 1rem;
  /* margin: 2rem auto; */
  border-radius: 0.5rem;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.header {
  color: white;
  font-family: "Luckiest Guy";
  font-weight: 400;
  kerning: 3;
  font-size: 3rem;
  padding: 0.5rem 0;
  transform: skewY(-3deg);
}



.checked::after {
  /* content: "×"; */
  content: "X";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: darkgreen;
  opacity: 0.8;

  font-size: 5rem;
  font-family: 'Permanent Marker';
  line-height: 1;

  animation: fadeIn 0.3s;
}

.cell.winning {
  background: rgba(228,51,12,1);
  background: linear-gradient(128deg, rgba(247,202,18,1) 0%, rgba(247,129,18,1) 37%, rgba(228,51,12,1) 100%);
  color:white;
}

.cell.winning::after {
  color: rgba(26,15,217,1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    /* opacity:0.8; */
    transform: scale(1);
  }
}

.table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 3px;
  /* margin: 5px; */
  /* padding-bottom: 20px; */
}

.cell {

  position: relative;
  cursor: pointer;

  font-family: 'Roboto';


  background: white;
  border-radius: 4px;
  height: 80px;

  vertical-align: middle;
  text-align: center;

  padding: 0.5rem;

  transition: 0.2s ease-in-out; 
}

.cell:hover:not(.image_cell), .cell:focus:not(.image_cell) {
  background: lightgreen;
}

.image_cell {
  background: lightgreen;
  /* background: linear-gradient(70deg, green, darkgreen); */
}

.image {
  width: 50px;
  height: 50px;
  filter: grayscale(0.7);
  transform: scale(1) rotate(-8deg);
  transition: ease-in 0.2s;
}

*:hover > .image {
  transform: scale(2.5) rotate(10deg);
  filter: grayscale(0);
}