:root {
  --flip-transform: rotateX(-180deg)
}

.horizontal {
  --flip-transform: rotateY(-180deg)
}

.wrapper {
  perspective: 40rem;
  display: grid;
  place-items: stretch;
}

.card {
    display: flex;
    transform-style: preserve-3d;
    transition-duration: 0.5s;
}

.wrapper.hover > *:hover, 
.wrapper.hover > *:focus, 
.flipped {
  transform: var(--flip-transform);
}

.front, .back {
  backface-visibility: hidden;
  min-width: 100%;
}

.back {
  transform: translate(-100%, 0) var(--flip-transform);
}
